/* Importo una fuente para la pagina */
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

/* Descargue una fuente para el titulo */
@font-face {
    font-family: 'SimpsonsFont';
    src: url('/assets/font/Simpsonfont\ DEMO.otf') format('opentype');
}

body {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

header{
    background-color: #107DC0;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

header h1{
    font-family: 'SimpsonsFont', sans-serif;
    color: white;
    font-size: 75px;
    padding: 20px;
}

h3{
    font-family: 'SimpsonsFont', sans-serif;
    color: #FFD521;
    font-size: 35px;
    padding: 15px;
}

nav{
    background-color: white;
    width: auto;
}
#btnBuscador{
    background-color: #FB7DAB;
    color: white;
}
#btnBuscador:hover{
    color:black;
    background-color: #FFD521;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px;
    background: linear-gradient(to bottom, white, #FB7DAB);
}

.card-simpson:hover{
    transform: translateY(-8px);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}

footer{
    background-color: #FB7DAB;
    color: white;
    font-size: larger;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    width: auto;
    padding: 40px;
}